/* Encabezado */

.navbar {
    height: 100px;
    background: linear-gradient(to right, #2192FF, #144272);
}

.navbar a {
    font-size: 15px;
    color: #fff;
}
.navbar a{
    padding-right: 55px;
    padding-bottom: 15px;
}

.nombre a {
    font-size: 30px;
    color: #F9F9F9;
}

.transparente li a {
    color: #141254;
}

.socia-container a {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}

label {
    color: #F9F9F9;
    margin-right: 0px;
}

label :hover {
    color: #2192FF;
}

#socia {
    color: white;
    font-size: 20px;
    padding: 1px;
}

.socia-container a:hover {
    background: #AAAA;
}

/* pie de pagina */

.pie-pagina {
    width: 100%;
    background: linear-gradient(to right, #2192FF, #144272);
}

.pie-pagina .grupo1 {
    width: 100%;
    max-width: 12000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo1 .box figure img {
    width: 200px;
    border-radius: 100px;
}

.pie-pagina .grupo1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 35px;
}

.pie-pagina .grupo1 .box p {
    color: #fbf8fe;
    margin-bottom: 15px;
}

.pie-pagina .grupo1 .redes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #141254;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50%;
}

.pie-pagina .grupo1 .redes a:hover {
    color: #0f1aab
}

.pie-pagina .grupo2 {
    background-color: #141254;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo2 small {
    font-size: 20px;
}

.text {
    text-align: justify;
}